@charset  "utf-8";
$breakpoints: (
  // キー   値
  'sm': 'screen and (max-width: 767px)',
  'md': 'screen and (min-width: 768px)',
) !default;

@mixin mq($breakpoint: md) {
  @media  #{map-get($breakpoints, $breakpoint)} {
    // この中をカスタムできる
    @content;
  }
}

// colors

$primary-color: #3EA1D1;
$font-color: #333;

// common style

// pcのときのみ表示するクラス
@include mq(sm) {
  .is-pc {
    display: none;
  }
}

// スマホ時のみ表示するクラス
@include mq(md) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: $font-color;
  font-family:"ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

// ---- header ------ //
.header {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}