@charset  "utf-8";
$breakpoints: (
  // キー   値
  'sm': 'screen and (max-width: 767px)',
  'md': 'screen and (min-width: 768px)',
) !default;

@mixin mq($breakpoint: md) {
  @media  #{map-get($breakpoints, $breakpoint)} {
    // この中をカスタムできる
    @content;
  }
}

// colors

$primary-color: #3EA1D1;
$font-color: #333;

// common style

// pcのときのみ表示するクラス
@include mq(sm) {
  .is-pc {
    display: none;
  }
}

// スマホ時のみ表示するクラス
@include mq(md) {
  .is-sp {
    display: none;
  }
}


body {
  font-size: 16px;
  color: $font-color;
  font-family:"ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  // 現在の状態だとリセットCSSが聞いていて、paddingも含めて1200px実際は1180pxなのでbox-sizingをデフォルト値に戻す
  box-sizing: content-box;
}

// ---- header ------ //
.header {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 120px;
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;
}

.header-nav-item {
  & + & {
    margin-left: 46px;
  }
}

.header-nav-item-link {
  // リンクはblock要素で高さ、幅の指定ができるようにする。
  display: block;
  color: $font-color;
  height: 70px;
  line-height: 70px;
  letter-spacing: 0.1em;
}

main {
  margin-top: 70px;
}

.section {
  margin-top: 160px;
}

// ------ util -------*//
.util-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 1;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    background: $primary-color;
    margin: 16px auto;
  }
}

.util-link {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: $primary-color;
  border: solid 1px $primary-color;
  background: #ffffff;
  // リンクの配置をtacで調整するためinline-block
  display: inline-block;
  padding: 10px 54px;
}


// ------- footer ---------------*/
footer {
  background: #f7f7f7;
  padding: 42px 40px 12px;
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}

.footer-nav-list {
  @include mq(md) {
    display: flex;
    justify-content: center;
  }
}

.footer-nav-item {
  & + & {
    @include mq(md) {
      margin-left: 30px;
    }
  }
}

.footer-nav-item-link {
  font-size: 12px;
  color: $font-color;
  display: block;
  padding: 1em 0;
  
}

.footer-sns-list {
  text-align: center;
}

.footer-sns-item {
  display: inline-block;

  & + & {
    margin-left: 10px;
  }
}

.footer-sns-item-link {
  color: $primary-color;
  font-size: 24px;
  display: block;
  padding: 0.1em 0.5em;
}

.footer-copyright {
  color: #888888;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

// ---------- top -----------*/

.top {
  position: relative;
}

.top-picture {
  padding-top: 55%;
  background: url(../img/top.png) top right /82.5% no-repeat ;
}

.top-message {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  padding: 82px 44px 90px 40px;
}

.top-message-title {
  font-size: 26px;
  font-weight: 700;
}

.top-message-text {
  margin-top: 18px;
}

// ---------- concept -----------*/

.concept-inner {
  @include mq(md) {
    margin-top: 64px;
    display: flex;
  }
  // 中央寄せ
  align-items: center;
}

.concept-picture {
  // flexで横はば指定することができる
  // flexの引数 flex| flex-grow|flex-shrink|flex-basis(大きさ)
  @include mq(md) {
    flex: 0 0 50%;
  }
}

.concept-message {
  @include mq(md) {
    flex: 0 1 50%;
    margin-left: 6.6667%;
  }
}

.concept-message-title {
  font-size: 20px;
  font-weight: 600;
}

.concept-message-text {
  font-weight: 300;
  margin-top: 48px;
}

// ---------- feature -----------*/
.feature {

}

.feature-list {
  margin-top: 64px;
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }

}

.feature-item {
  @include mq(md) {
    flex: 0 0 28.3333%;
  }
}

.feature-item-link {
  display: block;
  color: $font-color;
  background: #ffffff;
  // カラーコードを見るためにrgbaに合わせて色を見る
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

.feature-item-picture {
  img {

  }
}

.feature-item-body {
  text-align: center;
  font-weight: 600;
  padding: 26px 12px;
}

.feature-item-title {

}

// ---------- about -----------*/

.about {
  background: url(../img/hugebg.png) center center / cover;
  // 画像が明るすぎるので疑似要素を使って暗いカバーを用意する
  color: #ffffff;
  position: relative;
  padding: 120px 0;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.12);
  }
}

.about-inner {
  // positionを使用したら要素が浮く
  position: relative;
}

.about-title {
  font-size: 22px;
  font-weight: 600;
}

.about-text {
  font-weight: 600;
  margin-top: 40px;
}

// ---------- products -----------*/

.products {
  max-width: 990px;
}

.products-list {
  margin-top: 64px;
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.products-item {
  @include mq(md) {
    flex: 0 0 27.6%;
  }
}

.products-item-link {
  display: block;
  color: $font-color;
  font-size: 14px;
}

.products-item-body {
  margin-top: 22px;
}

.products-item-cost {
  color: #989898;
  margin-top: 10px;
}

.products-footer {
  text-align: center;
  margin-top: 44px;
}

// ---------- News -----------*/

.news {
  max-width: 1040px;
}

.news-list {
  margin-top: 28px;
}

.news-item {
  border-bottom: 1px solid #e0e0e0;
}

.news-item-link {
  color: $font-color;
  font-size: 14px;
  padding: 22px 0;
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.news-item-header {
  @include mq(md) {
    flex: 0 0 260px;
  }
}

.news-item-body {
  @include mq(md) {
    flex: 0 1 100%;
    margin-left: 40px;
  }
}

.news-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 4px;
}

.news-item-text {
  color: #888888;
  margin-top: 16px;
  line-height: 1.7143;
}

.news-footer {
  text-align: center;
  margin-top: 48px;
}

// ---------- concept2 -----------*/

.concept2-inner {
  margin-top: 64px;

  @include mq(md) {
    display: flex;
    // 中央寄せ
    align-items: center;
    // 逆方向に表示するflexを使う
    flex-direction: row-reverse;
  }
}

.concept2-picture {
  // flexで横はば指定することができる
  // flexの引数 flex| flex-grow|flex-shrink|flex-basis(大きさ)
  @include mq(md) {
    flex: 0 0 50%;
  }
}

.concept2-message {
  @include mq(md) {
    flex: 0 1 50%;
    margin-right: 6.6667%;
  }
}

.concept2-message-title {
  font-size: 28px;
  font-weight: 600;
}

.concept2-message-text {
  font-weight: 300;
  margin-top: 30px;
}

// ---------- Contact -----------*/

.contact {
  background: url(../img/contact.png)  center center  / cover;
  margin-top: 225px;
  // 左右はインナーの幅と同じ
  padding: 72px 40px 86px;
  .util-title {
    color: $primary-color;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 0.2em 0.5em;
    box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
    border-radius: 2px;
  }

  input[type="text"],
  input[type="email"] {
    height: 40px;
  }
  textarea {
    min-height: 122px;
    // テキストボックスが横に伸びないようにする
    resize: vertical;
  }
}

.contact-form {
  margin-top: 56px;
}

.contact-text {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
}

.contact-text-inline {
  font-size: 16px;
  color: #e7728e;
}

.contact-list {
  max-width: 510px;
  margin: 18px auto 0;
}

.contact-footer {
  text-align: center;
}

.contact-item {
  @include mq(md) {
    display: flex;
  }
  & + & {
    margin-top: 32px;
  }
}

.contact-item-title {
  background: #3EA1D1B3;
  color: #ffffff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  position: relative;

  @include mq(md) {
    flex: 0 1 100%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -8px;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent #3EA1D1B3;
  }
}

.contact-title-inline {
  font-size: 12px;
  color: #E7728E;
  vertical-align: super;
  line-height: 1;
}

.contact-item-input {
  @include mq(md) {
    flex: 0 0 320px;
    margin-left: 18px;
  }
}

.contact-radio-wrap {
  display: inline-flex;
  border: solid 1px #ffffff;
  border-radius: 1px;
  box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &:checked + .contact-radio-part {
    background-color: $primary-color;
    color: #ffffff;
    border-radius: 1px;
  }
  &:focus + .contact-radio-part {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.contact-radio-part {
  display: block;
  background: #ffffff;
  color: $primary-color;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
}
.contact-footer {
  text-align: center;
  margin-top: 20px;
}

.contact-privacy {
  position: relative;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &:checked + .contact-privacy-part {
    width: 10px;
    border-top: 0;
    border-left: 0;
    background-color: transparent;
    transform: rotate(45deg);
    top: -5px;
    left: 5px;
  }

  &:focus + .contact-privacy-part {
    outline: -webkit-focus-ring-color auto 5px;
  }

  &:checked:focus + .contact-privacy-part {
    outline: none;
  }
}

.contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: solid 1px $primary-color;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}


.contact-privacy-link {
  color: $primary-color;
  text-decoration: underline;
}

.contact-footer-submit {
  margin-top: 46px;
}